@font-face {
    font-family: Witcher;
    src: url(../../../public/fonts/Thewitcher-jnOj.ttf);
  }

.banner{
    width: 100%;
    display: flex;
    align-items: center;    
}

.banner .heading-wrapper{
    text-align: center;
    margin-left: -80px;
}

.banner .smaller{
    font-size: 60px;
}

.banner .larger{
    font-size: 90px;  
    font-family: "Witcher", sans-serif;
}

span.red{
    color: red;
}

.banner img{
    object-fit: cover;
    height: 100vh;
    margin-left: -70px;
}