@font-face {
    font-family: Witcher;
    src: url(../../../public/fonts/Thewitcher-jnOj.ttf);
  }

.banner{
    width: 100%;
    display: flex;
    align-items: center;  
    text-shadow: 8px 3px 4px rgba(201,201,201,0.48);  
    font-family: "Witcher", sans-serif;
}

.banner .heading-wrapper{
    text-align: center;
    margin-left: -80px;
}

.banner .smaller{
    font-size: 60px;
}

.banner .larger{
    font-size: 90px;  
   
}

span.red{
    color: red;
}

.banner img{
    object-fit: cover;
    height: 100vh;
    margin-left: -70px;
}

.right-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 8vh;
}

.navigation{
    margin-left: -200px;
}

.navigation ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.heading-wrapper{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.heading-wrapper blockquote{
    font-family: 'Quicksand', sans-serif;    
    font-style: italic;
    font-size: 1.2rem;
    text-shadow: none;
    color: rgb(156, 156, 156);
}

.heading-wrapper blockquote p{
    text-align: left;    
    margin-bottom: 20px;
}

.heading-wrapper blockquote span{
    display: block;
    text-align: right;
    font-weight: 500;
}