.menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.menu > * {
    position: absolute;
    height: 100%;
    width: 50vw;
    z-index: 3;
    transition: all 0.3s ease-in;
}






